body{
   background-image: url("cgif.gif");/*background gif*/
}
.section-header {
  text-align: center; /* Center-aligns the content inside the section header */
}

.section-header h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px; /* Styles the heading inside the section header */
}

.section-header hr {
  border: 1px solid #fff;
  width: 90px; /* Creates an underline effect using a horizontal line */
}

.steps {
  position: relative;
  margin-top: 32px; /* Sets the position and margin for the timeline steps */
}

.steps::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: white;
  opacity: 0.4; /* Creates a vertical line for the timeline */
  top: 0;
  bottom: 0;
  left: 50%;
}

.steps-container {
  position: relative;
  background-color: inherit;
  width: calc(50% + 32px); /* Sets the width of the timeline containers */
}

.steps-container .content {
  padding: 32px;
  background-color: white;
  position: relative;
  border-radius: 0px 0px 80px 0px;
  box-shadow: 0px 16px 27px rgb(0 11 30 / 10%); /* Styles the content inside the timeline containers */
}

.steps .steps-container:nth-child(even) {
  left: calc(50% - 32px);
  flex-direction: row-reverse; /* Positions the timeline containers so one on left and one on the right */
}

.steps-container {
  display: flex; /* Displays the timeline containers in a row */
}

.steps .steps-container .date {
  font-weight: 900;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
  width: 62px;
  height: 62px;
  background-color: var(--primary);
  border-radius: 50%;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 777; /* Styles the date element inside the timeline containers */
}

.step-line {
  width: 40px;
  background-color: #fff;
  height: 1px;
  margin-top: 31px;
  opacity: 0.4;
  flex-shrink: 0; /* Styles the line connecting the content and timeline */
}

@media (max-width: 1000px) {
  .steps::after {
    left: 32px; /* Adjusts the position of the timeline line */
  }

  .steps-container {
    left: 0;
    flex-direction: row-reverse;
    width: auto;
    margin-bottom: 16px; /* Adjusts the layout of timeline containers */
  }
}
/*button back to porfolio*/
.button {
  background-color: aliceblue;
  color: black;
  font-size: 16px;
  border: 2px solid black;
  font-family: fangsong;
}

